#Map {
  .map-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    min-height: 7vh;
    z-index: 3;
    border-top: 1px solid rgba($light-weight, 0.7);
    -webkit-box-shadow: $map-shadow-header;
    -moz-box-shadow: $map-shadow-header;
    box-shadow: $map-shadow-header;
    background: $background-gradient-dark;
    border-bottom: 1px solid rgba($dark-quick-silver, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 2vh;

    .filter-box-div {
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding-left: 5%;

      .filter-prompt {
        padding-top: 1.5vh;
        display: inline-block;
        font-size: $font-size-filter-prompt;
        color: $light-weight;
        font-family: $condensed-font;
        white-space: nowrap;
        line-height: 1;
      }

      .btn-secondary {
        background-color: transparent;
        border: none;
        font-family: $condensed-font;
        text-transform: uppercase;
        font-size: $font-size-filter-prompt;
        color: $light-weight;
        font-weight: 500;
        line-height: 1;
        padding: 0vh 0vh 0.6vh 0vh;
        margin: 0.9vh 0.8vh 0vh 0.8vh;
        border-bottom: 2px solid $orange;
        border-radius: 0;
      }

      .drop-down-button {
        background-color: transparent;
      }

      .drop-down-menu {
        background: $light-weight;
      }

      .dropdown-item {
        font-family: $condensed-font;
        font-size: $font-size-filter-buttons;
        color: $smoky-black;
      }

      .dropdown-item:hover {
        font-family: $condensed-font;
        font-size: $font-size-filter-buttons;
        color: $smoky-black;
      }

      .drop-down-toggle {
        background-color: none;
      }

      .dropdown-buttons {
        padding: 0vh 0.4vh;
      }

      .time-keeper-dropdown {
        margin-left: -8vh;
      }
    }

    .hood-header-box {
      display: inline-block;
      text-align: center;

      h4.selected-hood {
        font-family: $title-font;
        font-size: $font-size-hooder-header;
        font-weight: 700;
        color: $light-weight;
        line-height: 1;
        padding: 0;
        margin: 0;
      }
    }

    .button-row {
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      border-color: $light-weight;
      color: $light-weight;
      padding-right: 5%;

      .filter-icons {
        font-size: $font-size-filter-icon-button;
        margin-top: -1px;
      }
      .filter-buttons:hover {
        border-color: $accent-grey;
      }
    }

    .filter-buttons {
      font-family: $condensed-font;
      background: transparent;
      font-size: $font-size-filter-button-toolbar;

      font-weight: 400;
    }

    .filter-icons {
      margin-right: 4px;
    }
  }
}
