#Map {
  .map-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 7vh;
    z-index: 1;
    border-top: 1px $medium-yellow solid;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0px 8px 6px -6px black;
    background-color: $smoky-black;

    .hood-header-box {
      width: 80vh;
      text-align: center;
    }

    h4.selected-hood {
      font-family: $title-font;
      font-size: $font-size-xxxxl;
      font-weight: 700;
      color: $white;
    }

    .filter-title {
      font-family: $body-font;
      margin: 0 0 0.2vh 0;
      padding: 0;
      color: $accent-grey;
      font-size: $font-size-map-header-filters;
    }

    .button-toolbar {
      margin-top: 0;
    }

    .button-row {
      margin-top: -8px;
      display: block;
    }

    .filter-toolbar {
      padding: 0;
      margin: 0;
    }

    .filter-toolbar {
      font-size: $font-size-large;
    }

    .filter-icons {
      margin-right: 0.5vh;
      font-size: $font-size-large;
    }
  }
}
