#Map {
  .map-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 7vh;
    z-index: 1;
    border-top: 2px solid rgba($powder-blue, 0.7);
    -webkit-box-shadow: $map-shadow-header;
    -moz-box-shadow: $map-shadow-header;
    box-shadow: $map-shadow-header;
    background: $background-gradient-blue-dark-map-header;
    border-bottom: 1px solid rgba($dark-blue, 0.1);

    .hood-header-box {
      width: 80vh;
      text-align: center;
    }

    .filter-box-div {
      display: inline-block;
      color: $white;
      padding: 0;
      margin: 0 auto;

      .form-group {
        color: white;
      }

      .form-div {
        .start-time-div {
          display: inline-block;
        }
        .end-time-div {
          display: inline-block;
        }
        .weekday-selector-div {
          display: inline-block;
        }
      }

      h4.selected-hood {
        font-family: $title-font;
        font-size: $font-size-xxxxl;
        font-weight: 700;
        color: $white;
      }

      .filter-title {
        font-family: $body-font;
        margin: 0 0 0.2vh 0;
        padding: 0;
        color: $accent-grey;
        font-size: $font-size-map-header-filters;
      }

      .button-toolbar {
        margin-top: 0;
      }

      .button-row {
        margin-top: -8px;
        display: block;
      }

      .filter-toolbar {
        padding: 0;
        margin: 0;
      }

      .filter-toolbar {
        font-size: $font-size-large;
      }

      .filter-icons {
        margin-right: 0.5vh;
        font-size: $font-size-large;
      }
    }
  }
}
