/*.hero-section {
  background-image: url('https://i.imgur.com/PQK9FOC.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100;
}*/

.hero-shape {
  position: absolute;
  top: -78px;
  left: -57px;
  z-index: 0;
}

.hero-text {
  align-self: center;
  margin-top: 5%;
}

.blurb-text {
  width: 60%;
  text-align: center;
  margin: 7% auto;
}

.home-why {
  margin: 10% auto;
  text-align: right;
  width: 60%;
  justify-content: center;
}

.home-collective {
  margin-top: -2%;
  background: url(https://i.imgur.com/Kih1TFy.png);
  background-size: 125%;
  background-repeat: no-repeat;
  background-position: 50%;
  height:  670px;
  align-items: center;
  justify-content: space-around;
  text-align: left;

}

.collective-img {
  max-width: 700px;
  width: 100%;
}