/*.hero-section {
  background-image: url('https://i.imgur.com/PQK9FOC.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100;
}*/
.hero-shape {
  position: absolute;
  top: -78px;
  left: -7px;
  z-index: -1;
}