body * {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  overflow: hidden;
  background-color: #070707;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  border-bottom: #ffce00 solid 2px;
}

nav .logo-box {
  display: inline-block;
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

nav .logo {
  padding: 8px 0;
  width: 70%;
}

#NightOutBuilder {
  padding-bottom: 10vh;
}

#Intro .title-section {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 15px;
}

#Intro .title-section .intro-title {
  font-size: calc(28px + 1.4vw);
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#Intro .title-section .intro-subtitle {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#Intro .title-section .intro-summary {
  margin-top: 15px;
  padding: 0 18%;
  font-size: calc(18px + 0.2vw);
  color: white;
}

@-webkit-keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

@keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

.area-card {
  margin: 0 auto;
  margin-bottom: 15px;
}

.area-section {
  margin-top: 1vh;
  text-align: left;
  margin-bottom: 60px;
}

.area-section .area-picture {
  max-height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

.area-section .card-body {
  background-color: #fffffc;
  border-color: #fffffc;
}

.area-section .area-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: calc(18px + 1vw);
  padding: 0;
  margin: 0;
}

.area-section .area-wait-time {
  font-size: calc(9px + 0.2vw);
  padding: 0;
  margin: 0;
}

.area-section .wait-time-average {
  font-weight: 500;
  color: red;
}

.area-section .busy-score-number {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50px;
  padding-top: 10px;
  color: white;
  -webkit-animation: shadow-pulse 1s infinite;
          animation: shadow-pulse 1s infinite;
}

.area-section .area-description {
  font-family: "Roboto", sans-serif;
  font-size: calc(10px + 0.3vw);
  font-weight: 300;
  padding-top: 15px;
}

.area-section .small-list-main {
  background-color: #fffffc;
}

.area-section .small-list-main h4.current-busy-list-title {
  font-size: calc(9px + 0.2vw);
  text-transform: uppercase;
  color: #9ea2a8;
}

.area-section .small-list-main .small-list-section {
  margin: 5px 0;
}

.area-section .small-list-main .small-list-title {
  font-size: calc(10px + 0.3vw);
  margin-top: 15px;
  line-height: 0.2;
}

.area-section .small-list-main .small-list-type {
  font-size: calc(9px + 0.2vw);
  font-family: "Roboto Condensed", sans-serif;
  line-height: 0.2;
}

.area-section .small-list-main .busy-score-small-div {
  text-transform: uppercase;
  margin-top: 4px;
}

.area-section .small-list-main .busy-score-small {
  font-family: "Roboto Condensed", sans-serif;
  font-size: calc(12px + 0.2vw);
  text-align: center;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: green;
  border-radius: 25px;
  padding-top: 2px;
  color: white;
}

.area-section .small-list-main .busy-score-small:hover {
  -webkit-animation: shadow-pulse 1s infinite;
          animation: shadow-pulse 1s infinite;
}

.area-section .small-list-main .area-small {
  display: inline-block;
  width: 70%;
}

.area-section .small-list-main .wait-time-small {
  margin-top: 10px;
  display: inline-block;
  width: 30%;
  float: right;
}

.area-section .small-list-main .wait-minute-small {
  text-align: left;
}

.area-section .small-list-main .wait-minute-min {
  font-family: "Roboto Condensed", sans-serif;
  font-size: calc(12px + 0.2vw);
  line-height: 0.7;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.area-section .small-list-main .small-min {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
}

.area-section .small-list-main .wait-minute-small-text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: calc(7px + 0.2vw);
  line-height: 1.2;
  margin-top: 4px;
  color: #1f363d;
}

.area-section .small-list-main .card-footer-link {
  text-align: right;
}

.area-section .small-list-main .card-link {
  font-family: "Roboto Condensed", sans-serif;
  padding-bottom: 5px;
  margin-right: 0;
}

@keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

#Map {
  display: block;
  width: 100%;
  height: 80vh;
  margin-bottom: 5vh;
  background-color: darkgrey;
  text-align: center;
}

#Map .hood-main-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: calc(18px + 1vw);
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5vh;
}

#Map .map-container {
  margin: 0 auto;
  width: 100%;
  border-top: 1px #ffce00 solid;
  border-bottom: 1px #ffce00 solid;
  height: 100%;
}

#Map .map-sidebar {
  width: 15%;
  height: 100%;
  border-right: 1px solid #9ea2a8;
  background: -webkit-gradient(linear, left top, left bottom, from(#070707), to(rgba(7, 7, 7, 0.6)));
  background: linear-gradient(to bottom, #070707, rgba(7, 7, 7, 0.6));
}

#Map .map-sidebar .hood-list {
  width: 100%;
  text-align: left;
}

#Map .map-sidebar .hood-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

#Map .map-sidebar .hood-name {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  border-top: #9ea2a8 solid 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#070707), to(rgba(7, 7, 7, 0.9)));
  background: linear-gradient(to bottom, #070707, rgba(7, 7, 7, 0.9));
}

#Map .map-sidebar .hotspot-score {
  display: inline-block;
  width: 30%;
}

#Map .map-sidebar .hotspot-score .hotspot-score-icon {
  width: 30%;
  padding: 0;
  margin-top: -4px;
  -webkit-animation: shadow-pulse s infinite;
          animation: shadow-pulse s infinite;
}

#Map .map-sidebar .hotspot-score .hotspot-score-number {
  display: inline-block;
  width: 50%;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 8px;
}

#Map .planner-sidebar {
  width: 15%;
  height: 100%;
  background-color: yellow;
}

#Map .current-selection-card {
  width: 100%;
  bottom: 0;
  right: 0;
  height: 20vh;
  text-align: left;
  border-top: 1px solid #9ea2a8;
  background: -webkit-gradient(linear, left top, left bottom, from(#fffffc), to(rgba(255, 255, 252, 0.6)));
  background: linear-gradient(to bottom, #fffffc, rgba(255, 255, 252, 0.6));
}

#Map .current-selection-card .current-selection-pic {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  padding-top: 20px;
}

#Map .current-selection-card .current-selection-title {
  padding-top: 18px;
  font-size: calc(16px + 0.4vw);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin: 0 0 3px 0;
}

#Map .current-selection-card .current-selection-details {
  font-family: "Roboto", sans-serif;
  font-size: calc(10px + 0.3vw);
  font-weight: 500;
  color: #9ea2a8;
  margin: 0 0 3px 1px;
  padding: 0;
}

#Map .current-selection-card .current-selection-description {
  font-family: "Roboto", sans-serif;
  font-size: calc(10px + 0.3vw);
  font-weight: 300;
  line-height: 1.3;
  margin: 3px 0 0 0;
}

#Map .current-selection-card .hotspot-report-card {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: calc(12px + 0.4vw);
  font-weight: 700;
}

#Map .current-selection-card .hotspot-score-number {
  font-size: calc(12px + 0.4vw);
  font-weight: 700;
}

#Map .current-selection-card .current-selection-hotspot-score-list {
  padding: 20px 0 0 0;
  margin: 0;
  width: 100%;
  padding-left: 20px;
}

#Map .current-selection-card .current-selection-report-card {
  font-family: "Roboto", sans-serif;
  font-size: calc(9px + 0.2vw);
}

#Map .current-selection-card .wait-time {
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: calc(9px + 0.2vw);
}
/*# sourceMappingURL=styles.css.map */