.commission_article {
  size: 100%;
  display: flex;
  align-content: center;
  padding-top: 75px;
  padding-left: 50px;
  font-family: "Bungee Inline", cursive;
  font-size: 1em;
}

.commission_article label {
  font-size: 1.5em;
}

.commision_user_form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

.commission_show_footer {
  margin: auto;
  margin-top: 1%;
}

#user_commision_price::before {
  content: "$";
  padding: 0 5px;
  text-align: center;
}
