.ArtistRequests_nav {
  height: 80px;
  background-image: 'https://images.pexels.com/photos/1561020/pexels-photo-1561020.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260';
  margin-left: 100px;
  display: flex;
  align-items: flex-end
}

.Dropdown-root{
  height: 70%;
  width: 20%;
  background-color: #f5e1ca;
  /* display: flex; */
  /* align-items: center; */
}

.Dropdown-control{
  height: 100%;
  background-color:rgb(248, 244, 124);
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 700;
  
  
  
  
}

.Dropdown-menu{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
}

.ArtistRequests_div{
  display: flex;
  flex-wrap: wrap;
  
}
