.ArtistAccount_div {
  display: flex;
  flex-flow: row-wrap;
  width: 100%;
  position: relative;
  top: 10px;
  margin: 0;
}

.ArtistAccount_div_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ArtistAccount_div_h3 {
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-top: 10px;
  margin-right: 200px;
  color: rgb(42, 233, 144);

  border: 12px outset rgba(28, 110, 164, 0.7);
  border-radius: 17px;
  background-color: rgb(124, 124, 196);

  /*box-sizing: border-box;
	width: 60%; height: 100px;
	display: block;
	padding: 10%;
	background-color: #A67B5B;
	background-image: url();
	background-repeat: no-repeat;
	background-size: cover;
	border: 6px double #483C32;
	box-shadow: 0 0 0 25px rgba(244,240,236,0.4) inset,
	 0 0 0 11px rgb(180, 130, 90),
	  0 0 15px rgba(0,0,0,0.8) inset;
	outline: 2px solid #333;
	outline-offset: 0px;*/
}

.ArtistAccount_div_dashboards {
  display: flex;
  flex-wrap: wrap;
}
