.jumbotron {
  background-image: url("https://wallpapercave.com/wp/wp1903456.jpg");
  background-size: cover;
  background-position: center;
}

.h1, .h2, .h3,.h5, .h6, h1, h2, h3, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: Poppins, Helvetica Neue, sans-serif;
}

.h4, h4 {
  font-size: 1.3rem;
  margin-bottom: .5rem;
  font-weight: 400;
  line-height: 1.7;
  font-family:  Helvetica Neue, sans-serif;
}

