.navbar-text {
  display: inline-block;
  padding: .5rem;
}

.navbar {
  padding: 20px !important;
}

.navbar-brand img{
  width: 200px;
}

.nav-link{
  font-size: 1.5rem;
}

#footer{
  padding: 10px !important;
}