.navbar-text {
  display: inline-block;
  padding: .5rem;
}

.navbar {
  padding: 20px !important;
}

.navbar-brand img{
  width: 200px;
}

.nav-link{
  font-size: 1.5rem;
}

#footer{
  padding: 10px !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #17a2b8;
}
