.area-header {
  margin-top: 40px;

  .area-sector {
    display: inline-block;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #ffffff;
    font-family: $title-font;
    font-size: $font-size-main-title;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    border-bottom: white solid 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25px;
  }

  button:hover,
  button:focus {
    background: none;
  }

  button:focus {
    outline-offset: -4px;
  }

  button:active {
    transform: scale(0.99);
  }
}

.area-details {
  text-align: center;

  .areas-summary {
    color: white;
    padding: 0 10%;
  }
}

.tab-selector {
  width: 100%;
  text-align: center;
  font-family: $body-font;
  font-size: $font-size-nav-tabs;
  text-transform: uppercase;
  > li {
    float: none;
    display: inline-block;
    color: $quick-silver;
  }

  a {
    color: $accent-grey;
  }

  a:active {
    color: $quick-silver;
  }
}

.starter-template {
  padding: 40px 15px;
}

.area-details {
  margin: 10px 0;

  .place-details {
    width: 100%;
    background-color: $card-color-background;
  }

  .card-place {
    width: 100%;
  }

  .place-image {
    width: 100%;
    left: 0;
    top: 0;
  }

  .place-main-col {
    text-align: left;

    .place-title {
      font-family: $title-font;
      font-weight: 700;
      font-size: $font-size-title;
      line-height: 1;
      margin-bottom: 1;
    }

    .place-details {
      font-size: $font-size-body;
      line-height: 1;
      margin-top: 0;
      margin-left: 4px;
      color: $quick-silver;
    }

    .place-summary {
      font-family: $body-font;
      font-size: $font-size-body;
    }
  }

  .busy-col {
    text-align: left;

    .busy-details {
      display: inline-block;
      width: 45px;
      height: 45px;
      border-radius: 45px;
      background-color: green;
      float: right;
      text-align: center;
      color: white;
      font-family: $title-font;
      font-weight: 700;
      font-size: $font-size-title;
    }

    .busy-score {
      margin-top: -2px;
    }

    .wait-time {
      font-size: $font-size-small;
    }
  }

  .more-details-section {
    background-color: $card-color-background;
    border: none;
    text-align: left;
    border-top: black 1px solid;
    margin-top: 15px;
    padding-top: 15px;

    .open-details {
    }

    .website-details {
    }

    .review-col {
      .review-title {
        font-size: $font-size-body;
      }
    }
  }
}
