body {
  font-family: $body-font;
  background-color: black;
  background-image: url("./images/irish-heather-gastown.png");
  /* Set a specific height */
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
