#HeatMapSlider {
  color: $light-weight;
  font-family: $title-font;

  .heat-map-slider-container {
    position: absolute;
    display: inline-block;
    right: 0;
    left: 0;
    width: 45%;
    top: 5.5vh;
    margin: 0 auto;
    min-height: 7.5vh;
    background: $background-gradient-medium;
    z-index: 2;
    padding: 2vh 1.5vh 1vh 1.5vh;
    box-shadow: $map-shadow-header;

  }

  .slider-container {
    width: 90%;
    display: inline-block;
    margin: 0 auto;
  }

  .slider-style {
    color: $quick-silver;
  }

  .MuiSlider-markLabel {
    font-family: $condensed-font;
    color: $light-weight;
    font-size: $font-size-slider-label;
  }
}
