#Map {
  .hood-sidebar {
    border-bottom: 5px $medium-yellow solid;
    border-right: 1px solid $light-smoky-black;
    position: absolute;
    overflow: scroll;
    margin-top: 7vh;
    left: 0;
    width: 18%;
    height: 93vh;
    background: transparent;

    .hood-list {
      width: 100%;
      text-align: left;
      cursor: pointer;
    }

    .hood-title-select {
      font-family: $title-font;
      font-size: $font-size-xl;
      display: inline-block;
      border-bottom: 1px solid rgba($very-light-grey, 0.4);
      margin: 0;
      background: $background-gradient-blue-dark;
      color: white;
      padding: 0.8vh 0 0.8vh 0.8vh;
      text-transform: uppercase;
    }

    .hood-title-box {
      font-family: $title-font;
      font-size: $font-size-xxl;
      font-weight: 700;
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    .hood-title-text {
      font-family: $title-font;
      font-size: $font-size-large;
      font-weight: 700;
      display: inline-block;
      color: $very-light-grey;
      margin: 0;
      padding: 1vh 0 1vh 0;
      padding-left: 1vh;
    }

    .hood-name-li {
      font-family: $title-font;
      width: 100%;
      font-weight: 700;
      background: $background-gradient-blue-dark;
      border-bottom: 1px solid rgba($very-light-grey, 0.3);
      padding-left: 0.8vh;
      text-shadow: $text-shadow-subtle;
    }

    .arrow-icon {
      color: $powder-blue;
      font-size: $font-size-large;
      margin-left: 4px;
    }

    .hood-col {
      display: inline-block;
      width: 70%;
      padding: 0;
    }

    .hotspot-score {
      display: inline-block;
      width: 30%;
      text-align: right;
      padding: 1vh 0 1vh 0;
      margin-top: -6px;

      .hotspot-score-icon {
        margin-top: 4px;
        margin-left: 2px;
        margin-right: 4px;
        width: 25%;
        float: right;
        animation: shadow-pulse s infinite;
      }

      .hotspot-score-number {
        display: inline-block;
        width: 50%;
        font-size: $font-size-large;
        font-family: $title-font;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 0;
        padding: 0;
        color: $very-light-grey;
        letter-spacing: 0.1vh;
        text-shadow: $text-shadow-subtle;
        float: right;
      }
    }
  }

  .list-group-item:hover {
    color: $white;
  }

  .hood-place-list-item {
    color: $very-light-grey;
    border-top: 1px solid rgba($very-light-grey, 0.1);
    border-right: 1px solid rgba($very-light-grey, 0.1);
    border-left: 1px solid rgba($very-light-grey, 0.1);
    border-bottom: 1px solid rgba($very-light-grey, 0.1);
    padding: 0.6vh 0 0 0.6vh;
    margin: 0;
    background: $background-gradient-blue-medium;
  }

  .hood-place-list-item:hover {
    color: white;
    background: $background-gradient-blue-light;
  }

  .hood-place-name-div {
    display: inline-block;
    width: 60%;
    height: 100%;
    margin-left: 6%;
    padding-right: 6px;
    padding-left: 18px;
  }

  .hood-place-name {
    font-family: $title-font;
    display: inline-block;
    font-size: $font-size-between-medium-and-large;
    word-break: normal;
    margin: 0;
    font-weight: 700;
    padding-bottom: 0.1vh;
    text-shadow: 1px 1px 1px black;
  }

  .hood-place-hotspot-score-div {
    height: 100%;
    width: 30%;
    display: inline-block;
    font-weight: 700;
    text-align: right;
    vertical-align: text-top;
    position: absolute;
    top: 0;
    margin-top: 8px;
  }

  .hood-place-type {
    font-family: $title-font;
    font-size: $font-size-small-type;
    text-transform: capitalize;
    margin: 0;
    padding: 0 0 1.5vh 0;
    color: $very-light-grey;
  }

  .hotspot-score-number-small {
    font-size: $font-size-medium;
    font-weight: 700;
    margin-left: 0;
    text-align: right;
    vertical-align: text-top;
    text-shadow: 1px 1px 1px black;
  }

  .icon {
    color: #ff5a00;
  }

  .hotspot-score-icon-small {
    margin-top: 0;
    margin-left: 4px;
    width: 25%;
    float: right;
    animation: shadow-pulse s infinite;
  }

  .hood-place-index-div {
    height: 100%;
    width: 14%;
    display: inline-block;
    font-weight: 700;
    text-align: right;
    vertical-align: text-top;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 15px;
    margin-top: 6px;
    margin-left: 1px;
  }

  .index-number {
    font-size: $font-size-large;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba($smoky-black, 0.5);
    font-size: $font-size-between-medium-and-large;
  }
}
