#Map {
  .hood-sidebar {
    position: absolute;
    overflow: scroll;
    left: 0;
    width: 15%;
    height: 100%;
    border-right: 1px solid #9ea2a8;
    background: linear-gradient(
      to bottom,
      $smoky-black,
      rgba($smoky-black, 0.1)
    );

    .hood-list {
      width: 100%;
      text-align: left;
    }

    .hood-title {
      font-family: $title-font;
      font-weight: 700;
      display: inline-block;
      margin: 0;
    }

    .hood-name {
      font-family: $title-font;
      color: white;
      border-top: #9ea2a8 solid 1px;
      background: linear-gradient(
        to bottom,
        $quick-silver,
        rgba($accent-grey, 0.5)
      );
    }

    .hotspot-score {
      display: inline-block;
      width: 30%;
      font-size: $font-size-xl;
      padding-left: 10px;

      .hotspot-score-icon {
        width: 30%;
        padding: 0;
        margin-top: -4px;
        animation: shadow-pulse s infinite;
      }

      .hotspot-score-number {
        display: inline-block;
        width: 50%;
        font-family: $title-font;
        font-weight: 700;
        margin-bottom: 0;
        margin-left: 8px;
      }
    }
  }

  .hood-place-list-item {
    color: $accent-grey;
    background: linear-gradient(
      to bottom,
      $smoky-black,
      rgba($smoky-black, 0.6)
    );
  }

  .hood-place-name-div {
    display: inline-block;
    font-size: $font-size-small;
    width: 70%;
  }

  .hood-place-name {
    display: inline-block;
    font-size: $font-size-small;
    word-break: normal;
  }

  .hood-place-hotspot-score {
    width: 30%;
    display: inline-block;
    font-size: $font-size-small;
    font-weight: 700;
    float: right;
    margin-top: 4px;
    margin-left: 0;
    text-align: right;
  }

  .icon {
    color: #ff5a00;
  }

  .hood-place-hotspot-icon {
    display: inline-block;
    float: right;
  }
}
