#CurrentSelectionCard {
  position: absolute;
  bottom: 0;
  width: 100%;

  .card-container {
    height: 40vh;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .current-selection-card-div {
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
    height: 20vh;
    position: absolute;
    bottom: 0;
  }

  .current-card {
    width: 100%;
    height: 100%;
  }

  .current-card-description {
    text-align: left;
  }

  .current-card-info {
    text-align: left;
  }
}
