@import "./TripSidebar/trip-sidebar";
@import "./HoodSidebar/hood-sidebar";
@import "./CurrentSelectionCard/current-selection-card";
@import "./MapHeader/map-header";
@import "./HeatMapSlider/heat-map-slider";

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

#Map {
  display: inline-block;
  width: 100%;
  height: 100vh;
  text-align: center;
  margin-bottom: 0;
  position: relative;

  .hood-main-title {
    font-family: $title-font;
    font-weight: 700;
    font-size: $font-size-title;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5vh;
  }

  .map-container {
    margin: 0;
    width: 100%;
    border-top: 5px $bright-yellow solid;
    border-bottom: 5px $bright-yellow solid;
    height: 100vh;
    position: absolute;
    scroll-snap-align: start;
  }

  .gm-style {
    font-size: 200px !important;
  }

  .heatmap-toggle-div {
    position: absolute;
    display: inline-block;
    left: 18.5%;
    top: 8vh;
    width: 12%;
    background: $background-gradient-very-light;
    z-index: 1;
    padding: 0.5vh 1.5vh 0.2vh 1.2vh;
    border-radius: 10px;
    box-shadow: $map-shadow-header;

    .heatmap-toggle-button {
      font-family: $condensed-font;
      background: transparent;
      padding: 0.4vh 0.5vh 0vh 1vh;
      margin-left: 2px;
      font-size: $font-size-filter-buttons;
      text-transform: uppercase;
      font-weight: 700 !important;
    }

    .heatmap-filter {
      display: inline-block;
      padding: 0 0.5vh;
    }

    .MuiTypography-body1 {
      font-family: $condensed-font;
      color: $light-weight;
      white-space: nowrap;
    }
  }

  .marker-toggle-div {
    position: absolute;
    display: inline-block;
    right: 18.5%;
    top: 8vh;
    width: 12%;
    background: $background-gradient-very-light;
    z-index: 1;
    padding: 0.5vh 1.5vh 0.2vh 1.2vh;
    border-radius: 10px;
    box-shadow: $map-shadow-header;

    .heatmap-toggle-button {
      font-family: $condensed-font;
      background: transparent;
      padding: 0.4vh 0.5vh 0vh 1vh;
      margin-left: 2px;
      font-size: $font-size-filter-buttons;
      text-transform: uppercase;
      font-weight: 700 !important;
    }

    .heatmap-filter {
      display: inline-block;
      padding: 0 0.5vh;
    }

    .MuiTypography-body1 {
      font-family: $condensed-font;
      color: $light-weight;
      white-space: nowrap;
    }
  }
}
