$title-font: "Roboto Condensed", sans-serif;
$body-font: "Roboto", sans-serif;

$font-size-main-title: calc(35px + 1.4vw);
$font-size-title-intro: calc(18px + 0.2vw);
$font-size-title: calc(18px + 1vw);
$font-size-nav-tabs: calc(8px + 0.8vw);
$font-size-body: calc(10px + 0.3vw);
$font-size-small: calc(9px + 0.2vw);
$font-size-busy-small: calc(12px + 0.2vw);
$font-size-busy-xs: calc(7px + 0.2vw);

$gunmetal: #1f363d;
$accent-grey: #d6e5e3;
$card-color-background: #fffffc;
$smoky-black: #070707;
$quick-silver: #9ea2a8;
