$display-font: "Lalezar", cursive;
$title-font: "Fira Sans", sans-serif;
$body-font: "Roboto", sans-serif;

// Intro Section------

$font-size-main-title: calc(32px + 1.7vw);
$font-size-title-intro: calc(14px + 0.7vw);
$font-size-title-popular-now: calc(12px + 0.4vw);
$font-size-small-icon: calc(9px + 0.2vw);

// Intro Card------

$font-size-carousel-header: calc(10px + 1.3vw);
$font-size-carousel-hood: calc(9px + 0.8vw);
$font-size-carousel-address: calc(7px + 0.6vw);
$font-size-carousel-icons: calc(8px + 0.6vw);
$font-size-intro-hotspot-title: calc(8px + 0.8vw);
$font-size-intro-card: calc(20px + 9vw);
$font-size-intro-card-review-number: calc(7px + 0.5vw);
$font-size-intro-card-hotspot-number: calc(20px + 7vw);

// Slider - Font Sizes ------

$font-size-slider-title: calc(9px + 0.5vw);
$font-size-slider-label: calc(9px + 0.4vw);

// My Night - Font Sizes ------

$font-arrow-icon: calc(18px + 1vw);
$font-size-suggested-time-big: calc(10px + 3vw);
$font-size-place-info: calc(6px + 0.6vw);
$font-size-hood-large: calc(8px + 0.7vw);
$font-size-title-place: calc(18px + 0.4vw);
$font-size-hotspot-score: calc(6px + 4vw);
$font-size-hotspot-score-title: calc(6px + 0.8vw);
$font-size-best-time-title: calc(10px + 0.4vw);
$font-size-average-time: calc(8px + 0.4vw);

$font-size-title: calc(18px + 1vw);
$font-size-nav-tabs: calc(8px + 0.8vw);
$font-size-body: calc(10px + 0.3vw);
$font-size-xxxxl: calc(30px + 0.8vw);
$font-size-xxxl: calc(20px + 0.4vw);
$font-size-xxl: calc(16px + 0.4vw);
$font-size-xl: calc(14px + 0.4vw);
$font-size-large: calc(12px + 0.4vw);
$font-size-between-medium-and-large: calc(11px + 0.3vw);
$font-size-medium: calc(10px + 0.3vw);
$font-size-small: calc(9px + 0.2vw);
$font-size-busy-small: calc(12px + 0.2vw);
$font-size-busy-xs: calc(7px + 0.2vw);

$font-size-night-out-prompt: calc(12px + 0.6vw);
$font-size-night-out-button: calc(10px + 0.6vw);

$font-size-small-type: calc(10px + 0.2vw);

$font-size-hotspot-hood-large: calc(16px + 0.8vw);

// Report Card Summary Font Sizes------

$font-size-map-header-filters: calc(7px + 0.3vw);

// Report Card Summary Font Sizes------

$font-size-busy-report-large: calc(14px + 0.2vw);
$font-size-busy-report-small: calc(10px + 0.2vw);
$font-size-busy-report-xs: calc(7px + 0.2vw);

// Button Font Sizes------

$font-size-icons: calc(20px + 0.2vw);

// Shadows------

$map-shadow-header: 2px 2px 2px rgba(0, 0, 0, 0.5);
$text-shadow-subtle: 1px 1px 1px rgba(0, 0, 0, 0.5);
$text-shadow-title: 1px 2px 2px rgba(0, 0, 0, 0.4);
$text-shadow-box: 0px 4px 4px rgba(0, 0, 0, 0.5);
$button-shadows: 0px 1px 2px rgba(0, 0, 0, 0.5);

// Trip Planner Sidebar Font Sizes ------

$font-size-hotspot-number-intro-box: 6vw;
$font-size-hotspot-number-large: 8vw;
$font-size-hotspot-number-stat-box: 10vw;
$font-size-hotspot-number-my-night: 5.5vw;

// Text Colors ------

$gunmetal: #1f363d;
$accent-grey: #d6e5e3;
$light-weight: #fffffc;
$card-color-background: #fffffc;
$smoky-black: #070707;
$light-smoky-black: rgba($smoky-black, 0.6);
$quick-silver: #9ea2a8;
$dark-quick-silver: rgba($quick-silver, 0.4);
$white: #f9f9f9;

// Brand Colors -------

$bright-yellow: #ffe80a;
$medium-yellow: #ffce00;
$orange: #ff9a02;
$orange-red: #ff5a00;
$red: #ff0000;

// Color Swatches -------

$bright-pink: #ff5165;
$light-bright-pink: rgba($bright-pink, 0.4);
$sky-blue: #017dcd;
$powder-blue: #7cddbd;
$light-powder-blue: rgba($powder-blue, 0.6);
$very-light-powder-blue: rgba($powder-blue, 0.2);
$happy-blue: #37b1f2;
$dark-blue: #276098;
$medium-orange: #fb971d;
$brick-pink: #de8586;
$very-light-grey: #f4f2f3;
$super-light-grey: rgba($very-light-grey, 0.5);

// Blue Grandient Colors -------

$dark-blue-gradient-top: $smoky-black;
$dark-blue-gradient-bottom: $smoky-black;

// Cool Colors -------

$tiffany-blue: #3f9796;
$blue-lagoon: #b5e2fa;
$blue-green: #0fa3b1;

// Background-Gradients -------

$background-gradient-dark: linear-gradient(
  to bottom,
  rgba($smoky-black, 1),
  rgba($smoky-black, 0.9)
);

$background-gradient-medium: linear-gradient(
  to bottom,
  rgba($smoky-black, 0.9),
  rgba($smoky-black, 0.8)
);

$background-gradient-light: linear-gradient(
  to bottom,
  rgba($smoky-black, 0.7),
  rgba($smoky-black, 0.6)
);

$background-gradient-very-light: linear-gradient(
  to bottom,
  rgba($smoky-black, 0.4),
  rgba($smoky-black, 0.2)
);

$background-gradient-blue-dark-map-header: linear-gradient(
  to bottom,
  rgba($dark-blue-gradient-top, 1),
  rgba($dark-blue-gradient-top, 0.9)
);

$background-gradient-blue-dark: linear-gradient(
  to bottom,
  rgba($dark-blue-gradient-top, 1),
  rgba($dark-blue-gradient-bottom, 0.9)
);

$background-gradient-blue-medium: linear-gradient(
  to bottom,
  rgba($dark-blue-gradient-top, 0.9) rgba($dark-blue-gradient-bottom, 0.8)
);

$background-gradient-blue-light: linear-gradient(
  to bottom,
  rgba($dark-blue-gradient-top, 0.7) rgba($dark-blue-gradient-bottom, 0.6)
);

$background-gradient-very-light-blue: linear-gradient(
  to bottom,
  rgba($dark-blue-gradient-top, 0.6) rgba($dark-blue-gradient-bottom, 0.4)
);

$background-gradient-build-night-button: linear-gradient(
  to bottom,
  rgba($smoky-black, 0.8),
  rgba($smoky-black, 0.7)
);
