@import "./current-selection-modal";

#CurrentSelectionCard {
  @keyframes shadow-pulse-live {
    0% {
      box-shadow: 0 0 0 0px rgba($bright-yellow, 0.8);
    }
    100% {
      box-shadow: 0 0 0 10px rgba($bright-yellow, 0);
    }
  }

  position: absolute;
  bottom: 0;
  width: 100%;

  .card-container {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .current-selection-card-div {
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
    position: absolute;
    bottom: 0;
    border-bottom: 5px $bright-yellow solid;
  }

  .card-header {
    background: $background-gradient-dark;
  }

  .current-card {
    width: 100%;
    border-radius: 1vh;
    min-height: 25vh;
    background: $background-gradient-medium;
    margin-bottom: 2vh;
    box-shadow: $text-shadow-box;
    color: $light-weight;
  }

  .current-card-pic-col {
    width: 100%;

    img {
      height: 120px;
    }

    .current-card-pic {
      width: 100%;
      object-fit: cover;
      margin-bottom: 5px;
    }
  }

  .current-card-info {
    text-align: left;
  }

  .info-p {
    font-family: $title-font;
    font-weight: 300;
    font-size: $font-size-current-selection-p;
    line-height: 1;
  }

  .titles {
    font-size: $font-size-current-selection-titles;
    font-family: $title-font;
    text-transform: uppercase;
    margin-right: 5px;
    color: $quick-silver;
  }

  .current-card-title {
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    color: $light-weight;
    font-family: $title-font;
    font-size: $font-size-xxxl;
    background: $background-gradient-blue-dark;
  }

  .add-to-night-button {
    position: absolute;
    color: black;
    background-color: $bright-yellow;
    font-weight: 700;
    top: 0.4vh;
    right: 7px;
    margin: auto 0;
    font-family: $title-font;
    font-size: $font-size-large;
    border-color: transparent;
  }

  .add-to-night-button:hover {
    color: $smoky-black;
    background: $bright-yellow;
    border-color: $accent-grey;

    .icon-plus {
      color: $dark-blue-gradient-top;
    }
  }

  .current-address {
    margin-top: -7px;
  }

  .score-col {
    text-align: center;
  
    margin: 0 4vh;
    display: inline-block;
    width: 50%;

    .hot-score-number {
      font-size: $font-size-current-hotscore-number;
      font-weight: 700;
      line-height: 1;
      margin: 0;
      padding: 0;
      padding-top: 0;
      color: $light-weight;
    }

    .hot-score-title {
      display: inline-block;
      font-size: $font-size-current-hotscore-title;
      line-height: 1;
      font-family: $title-font;
      color: $light-weight;
    }

    .title-div {
      display: inline-block;
      margin-left: 10px;
    }

    .titles-tags {
      margin-top: 0;

    }

    .hotspot-icon {
      display: inline-block;
      width: 8%;
      margin-right: 5px;
    }

    .live {
      margin-top: -10px;
    }

    .pulse {
      margin-top: -10px;
      line-height: 1;
      animation: shadow-pulse 1s infinite;
    }
  }

  .address-tag {
    margin-top: 20px;
  }

  .icon-plus {
    color: black;
    font-size: $font-size-xxl;
    margin-top: -5px;
  }

  .see-images-button {
    margin-top: 5px;
  }
}
