.modal-container {
  .modal-body {
    background: $background-gradient-blue-light;
  }

  .modal-header-box {
    background: $background-gradient-blue-light;
    color: $white;
    border-bottom: 1px solid rgba($powder-blue, 0.4);
  }

  .modal-content {
    background: $background-gradient-blue-light;
    display: inline-block;
  }

  .modal-picture {
    width: 100%;
  }

  .modal-footer-div {
    background-color: transparent !important;
    border-top: 1px solid rgba($powder-blue, 0.4);
    
  }
}
