@import "./current-selection-modal";

#CurrentSelectionCard {
  @keyframes shadow-pulse-live {
    0% {
      box-shadow: 0 0 0 0px rgba($bright-yellow, 0.8);
    }

    100% {
      box-shadow: 0 0 0 10px rgba($bright-yellow, 0);
    }
  }

  position: absolute;
  bottom: 0;
  width: 100%;

  .card-container {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .current-selection-card-div {
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
    position: absolute;
    bottom: 0;
    border-bottom: 5px $accent-grey solid;
  }

  .card-header {
    background: $background-gradient-dark;
  }

  .current-card {
    width: 100%;
    border-radius: 1vh;
    min-height: 15vw;
    background: $background-gradient-medium;
    margin-bottom: 1vw;
    box-shadow: $text-shadow-box;
    color: $light-weight;
  }

  .current-card-pic-col {
    width: 100%;
    padding-top: 5vh;

    img {
      height: 140px;
    }

    .current-card-pic {
      width: 100%;
      object-fit: cover;
      margin-bottom: 5px;
    }
  }

  .current-card-info {
    text-align: left;
    margin: 0 4vh 0 0vh;
    padding-top: 4.7vh;

    .info-p {
      font-family: $title-font;
      font-weight: 500;
      font-size: $font-size-current-selection-info;
      line-height: 1.4;
      padding-bottom: 0;
      margin-bottom: 0.5vh;
      color: $light-weight;
    }

    .other-score {
      font-size: $font-size-current-selection-other-score;
      margin-top: 1vh;
    }
  }

  .info-p {
    font-family: $title-font;
    font-weight: 500;
    font-size: $font-size-current-selection-p;
    line-height: 1.5;
    color: $accent-grey;
  }

  .titles {
    font-size: $font-size-current-selection-titles;
    font-family: $title-font;
    text-transform: uppercase;
    margin-right: 5px;
    color: $quick-silver;
  }

  .add-to-night-button {
    position: absolute;
    width: 20vh;
    font-weight: 800;
    top: 1.5vh;
    right: 2vh;
    margin: auto 0;
    font-family: $title-font;
    font-size: $font-size-large;
    border-color: transparent;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;

    .hotspot-icon-button {
      width: 12%;
      display: inline-block;
      padding: 0;
      margin: 0;
    }

    .icon-plus {
      margin-top: 0.009em;
      color: $light-weight;
    }
  }

  .add-to-night-button:hover {
    color: $light-weight;
    border-color: transparent;
    background-color: transparent;

    .hotspot-icon-button {
      width: 14%;
    }
  }

  .current-address {
    white-space: nowrap;
    font-weight: 700;
  }

  .score-col {
    text-align: left;
    margin: 0 0vh 0 2vw;
    display: inline-block;

    .current-place-title {
      font-size: $font-size-current-hotscore-title;
      font-weight: 700;
      min-height: 3.5vh;
    }

    .hot-score-title {
      display: inline-block;
      font-size: $font-size-current-hotscore-hotsore-title;
      line-height: 1;
      font-family: $title-font;
      color: $light-weight;
    }

    .hot-score-number {
      font-size: $font-size-current-hotscore-number;
      font-weight: 700;
      line-height: 1;
      margin: 0;
      padding: 0;
      padding-top: 0;
      color: $light-weight;
    }

    .types {
      margin-bottom: 0px;
    }

    .title-div {
      display: inline-block;
      margin-left: 10px;
    }

    .titles-tags {
      margin-top: 0;
    }

    .hotspot-icon {
      display: inline-block;
      width: 7%;
      margin-right: 5px;
    }

    .percent-sign {
      font-size: $font-size-percent-sign;
    }

    .live {
      margin-top: -10px;
    }

    .pulse {
      margin-top: -10px;
      line-height: 1;
      font-size: 0.6em;
      animation: shadow-pulse 1s infinite;
    }
  }

  .address-tag {
    margin-top: 20px;
  }

  .icon-plus {
    color: black;
    font-size: $font-size-xxl;
    margin-top: -5px;
  }

  .see-images-button {
    margin-top: 5px;
  }
}
