#NightOutBuilder {
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 auto;
  align-self: baseline;
  height: 20vh;

  .night-out-intro-div {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0vh 2vh 2vh 2vh;

    .night-out-intro {
      display: inline-block;
      font-family: $title-font;
      font-weight: 400;
      padding: 0 5%;
      font-size: $font-size-night-out-prompt;
      color: white;
      text-shadow: $text-shadow-title;
      line-height: 1.5;
    }
  }

  .build-night-button {
    background: $background-gradient-build-night-button;
    font-family: $title-font;
    font-size: $font-size-night-out-button;
    font-weight: 500;
    border: none;
    margin-top: 2vh;
    padding: 0.8vh 2.5vh;
    box-shadow: $map-shadow-header;
  }

  .build-night-button:hover {
    background: $background-gradient-build-night-button;
    font-family: $title-font;
    color: $white;
    border: $bright-yellow 1px solid;
    margin-top: 2vh;
    padding: 0.8vh 2.5vh;
    box-shadow: none;
  }

  .hotspot-button-icon {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 5%;
  }

  .map-icon {
    color: $medium-yellow;
    margin-right: 10px;
  }

  .night-out-prompt-div {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 0 auto;

    .night-out-summary {
      margin-top: 0.6vh;
      font-family: $title-font;
      font-weight: 500;
      padding: 0 10%;
      font-size: $font-size-title-intro;
      color: white;
      text-shadow: $text-shadow-title;
      line-height: 1.5;
    }
  }
}
