#NightOutBuilder {
  width: 100%;
  padding: 0;
  margin: 0 auto;

  .night-out-intro-div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 2vh 4vh 2vh 4vh;

    .night-out-intro {
      font-size: $font-size-xxxl;
      font-family: $body-font;
      color: $white;
      text-shadow: $text-shadow-title;
    }
  }
}
