#Intro {
  .title-section {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 10vh;

    .intro-title {
      font-size: $font-size-main-title;
      color: white;
      font-weight: 700;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .intro-subtitle {
      font-family: $body-font;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .intro-summary {
      margin-top: 15px;
      padding: 0 18%;
      font-size: $font-size-title-intro;
      color: white;
    }
  }
}
