#Intro {
  @keyframes shadow-pulse-live {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 206, 0, 0.5);
    }
    100% {
      box-shadow: 0 0 0 10px rgba(255, 206, 0, 0);
    }
  }

  min-height: 100vh;

  .title-section {
    text-align: center;
    margin-top: 5vh;

    .intro-title {
      font-size: $font-size-main-title;
      font-weight: 700;
      font-family: $title-font;
      color: $white;
      text-shadow: $text-shadow-title;
      margin-bottom: 0.4vh;

    }

    .intro-summary {
      margin-top: 0.6vh;
      font-family: $title-font;
      font-weight: 500;
      padding: 0 15%;
      font-size: $font-size-title-intro;
      color: white;
      text-shadow: $text-shadow-title;
      line-height: 1.5;
    }
  }

  .hotspot-logo-div {
    margin: 0 auto;
    margin-bottom: 1vh;
  }

  .hotspot-logo-number {
    width: 6vh;
    margin-bottom: 1vh;
  }

  .intro-carousel-div {
    padding: 1vh 6vh 1vh 6vh;
    color: white;
    margin: 5vh auto 8vh auto;
    width: 100%;


    .popular-now-title {
      font-size: $font-size-title-popular-now;
      font-family: $title-font;
      color: $white;
      font-weight: 400;
      text-shadow: $text-shadow-title;
      margin-bottom: 2vh;
    }

    .live-icon {
      background: $orange;
      text-shadow: none;
      font-size: $font-size-small-icon;
      animation: shadow-pulse-live 1.5s infinite;
      margin-right: 0.5vh;
    }

    .card {
      border: 1px solid $medium-yellow;
      box-shadow: $text-shadow-box !important;
    }

    .intro-feature-card {
      text-align: center;
      display: block;
      margin: 0 auto;
      width: 50vh;
      background: $background-gradient-medium;

      position: relative;

      .card-title {
        display: block;
        font-family: $title-font;
        font-size: $font-size-xxxl;
        font-weight: 700;
        width: 100%;
        padding-bottom: 1vh;
        text-shadow: $text-shadow-subtle;
      }

      .card-img-top {
        object-fit: cover;
        border-color: $quick-silver;
        height: 20vh;
        width: 100%;
        background: $background-gradient-very-light;
        align-content: middle;
      }

      img {
        height: 25vh;
        width: 40vh;
        opacity: 0.8;
        object-fit: cover;
        align-content: middle;
      }

      .card-text {
        width: 100%;
      }

      .hotspot-number-div {
        display: inline-block;
        width: 100%;

        .hotspot-score {
          font-size: $font-size-intro-card;
          font-family: $title-font;
        }

        .total-reviews {
          font-size: $font-size-intro-card-review-number;
          font-family: $title-font;
        }
      }
    }

    .shadow {
      -moz-box-shadow: inset 0 0 10px #000000;
      -webkit-box-shadow: inset 0 0 10px #000000;
      box-shadow: inset 0 0 10px #000000;
    }
  }
}
