#Intro {
  height: 100vh;

  .title-section {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 10vh;

    .intro-title {
      font-size: $font-size-main-title;
      font-family: $title-font;
      color: $white;
      font-weight: 700;
      text-shadow: $text-shadow-title;
    }

    .intro-subtitle {
      font-family: $body-font;
      color: $white;
      text-shadow: $text-shadow-title;
    }

    .intro-summary {
      margin-top: 15px;
      padding: 0 18%;
      font-size: $font-size-title-intro;
      color: white;
    }
  }

  .intro-carousel-div {
    padding: 8vh 6vh 1vh 8vh;
    color: white;
    margin: 0 auto;
    width: 100%;

    .card {
      box-shadow: $text-shadow-box !important;
    }

    .intro-feature-card {
      text-align: center;
      display: block;
      margin: 0 auto;
      width: 50vh;
      background: $background-gradient-medium;
      border-radius: 10px;
      position: relative;

      .card-title {
        display: block;
        font-family: $title-font;
        font-size: $font-size-xxxl;
        font-weight: 700;
        width: 100%;
        padding-bottom: 1vh;
        text-shadow: $text-shadow-subtle;
      }

      .card-img-top {
        object-fit: cover;
        border-color: $quick-silver;
        height: 20vh;
        width: 100%;
        background: $background-gradient-very-light;
        align-content: middle;
        box-shadow: $text-shadow-box !important;
      }

      img {
        height: 25vh;
        width: 40vh;
        opacity: 0.8;
        object-fit: cover;
        align-content: middle;
      }

      .card-text {
        width: 100%;
      }

      .hotspot-number-div {
        display: inline-block;
        width: 100%;

        .hotspot-score {
          font-size: $font-size-intro-card;
          font-family: $title-font;
        }

        .total-reviews {
          font-size: $font-size-intro-card-review-number;
          font-family: $title-font;
        }
      }
    }

    .shadow {
      -moz-box-shadow: inset 0 0 10px #000000;
      -webkit-box-shadow: inset 0 0 10px #000000;
      box-shadow: inset 0 0 10px #000000;
    }
  }
}
