@import "./carousel";

#AreaSelector {
  min-height: 10vh;
  width: 100%;
  padding: 0;
  margin: -2px auto;

  .area-selector {
    width: 95%;
    margin: 0 auto;
    padding: 4vh 5vh 4vh 5vh;
    text-align: center;
    color: white;
  }

  .area-selector-hood {
    font-family: $title-font;
    font-weight: 700;
    font-size: $font-size-main-title;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .area-selector-hood-description {
    margin-top: 15px;
    padding: 0 2%;
    font-size: $font-size-title-intro;
    color: white;
    line-height: 1.4;
  }
}
