@import "./my-night-stats";

#MyNightPlan {
  min-height: 10vh;
  width: 100%;
  padding: 0;
  margin: -2px auto;

  .my-night-container {
    width: 90%;
    margin: 0 auto;
    padding: 4vh 5vh 4vh 5vh;
    text-align: center;
    color: white;
  }

  .my-night-title-row {
    width: 100%;
    margin: 0 auto;
  }

  .my-night-title {
    font-family: $title-font;
    font-size: $font-size-main-title;
    text-shadow: $text-shadow-title;
    color: $white;
    font-weight: 700;
    padding-bottom: 2vh;
  }

  .night-out-div {
    width: 100%;
  }

  .night-out-card-div {
    .my-night-out-title {
      font-family: $title-font;
      font-size: $font-size-large;
      color: $smoky-black;
      text-align: left;
    }

    .my-night-out-details {
      text-align: left;
      color: $smoky-black;
    }

    .my-night-bottom-controls {
      text-align: right;
    }
  }
}
