@import "./my-night-stats";

#MyNightPlan {
  min-height: 10vh;
  width: 100%;
  padding: 0;
  margin: -2px auto;

  .my-night-card-container {
    padding-left: 5vh;
    padding-right: 5vh;
  }

  .my-night-container {
    width: 90%;
    margin: 0 auto;
    padding: 4vh 5vh 4vh 5vh;
    text-align: center;
    color: $light-weight;
  }

  .my-night-title-row {
    width: 100%;
    margin: 0 auto;
  }

  .my-night-title {
    font-family: $title-font;
    font-size: $font-size-my-night-title;
    text-shadow: $text-shadow-title;
    color: $light-weight;
    font-weight: 700;
    padding-bottom: 1vh;
  }

  .my-night-intro {
    margin-top: 0.6vh;
    font-family: $title-font;
    font-weight: 500;
    padding: 0 5%;
    font-size: $font-size-my-night-intro;
    color: $light-weight;
    text-shadow: $text-shadow-title;
    line-height: 1.5;
    padding-bottom: 1.5vh;
  }

  .title-div {
    display: inline-block;
  }

  .hotspot-icon-stats {
    display: inline-block;
    width: 7%;
    margin-bottom: 0.5vh;
  }
  h5 {
    display: inline-block;
  }

  .hotspot-icon-night-card {
    display: inline-block;
    margin-bottom: 2px;
    padding-bottom: 2px;
  }

  .hotspot-score-title {
    display: inline-block;
    font-size: $font-size-hotspot-score-title-small !important;
    font-family: $title-font;
    padding: 0;
    margin: 0;
    margin-bottom: -1.5vh;
    font-weight: 700;
  }

  .hotspot-small-print {
    font-size: $font-size-small-print;
    color: $accent-grey;
    line-height: 1.2;
    border-top: 1px $accent-grey solid;
    padding-top: 0.8vh;
    margin-right: 0.5vh;
    margin-left: 0.5vh;
    margin-top: -3vh;
  }

  .my-night-title-card {
    width: 100%;
    margin: 0 auto;
  }

  .info-circle-icon {
    margin-top: -5px;
    margin-right: 5px;
    color: $accent-grey;
  }

  .night-out-div {
    width: 100%;
  }

  .summary-row {
    width: 100%;
    display: relative;
  }

  .my-card-summary-div {
    padding: 0;
    margin: 0;
  }

  .stat-div {
    width: 100%;
    margin: 0 auto;
  }

  .stats-card {
    border-radius: 15px;
  }

  .stats-title {
    border-radius: 15px;
  }

  .hotspot-icon-night-card {
    display: inline-block;
    width: 8%;
  }

  .my-card-summary-row {
    background: $background-gradient-light;
    width: 95%;
    text-align: left;
    position: relative;
    margin: 0 auto;
    border-radius: 20px;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 20vh;

    .score-number-col {
      display: inline-block;
      padding: 0;
      margin: 0;
      margin-top: 1vh;
      width: 20vh;
      height: 100%;
      float: left;
      text-align: center;
      padding-top: 1vh;
      font-family: $title-font;
      text-shadow: $text-shadow-title;

      .hotspot-score-number {
        display: inline-block;
        font-weight: 700;
        font-size: $font-size-hotspot-number-my-night;
        padding: 0;
        margin: 0;
        text-shadow: $text-shadow-title;
      }
    }

    .percent-sign {
      font-size: $font-size-hotspot-percent;
    }

    .details-col {
      display: inline-block;
      top: 0;
      width: 30vh;
      height: 100%;
      float: left;
    }

    .my-card-summary-summary-div {
      margin-top: 2vh;

      .my-card-summary-summary-row {
        margin: 0 auto;
      }
    }

    .my-card-summary-button-div {
      margin-top: 10px;
      display: inline-block;
      width: 100%;
    }

    .my-card-summary-button {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-top: 20px;
      padding-right: 5vh;
      padding-left: 5vh;
      font-family: $title-font;
      background-color: transparent;
      border: none;
      width: 4vh;
      box-shadow: none;
    }

    .button-icon {
      font-size: $font-size-xxxl;
      text-align: center;
      padding-left: 2px;
      margin-left: 5px;
    }
  }

  .night-out-card-div {
    .my-night-out-title {
      font-family: $title-font;
      font-size: $font-size-large;
      color: $smoky-black;
      text-align: left;
    }

    .my-night-out-details {
      text-align: left;
      color: $smoky-black;
    }

    .my-night-bottom-controls {
      text-align: right;
    }
  }

  .best-times-card {
    background: $background-gradient-light;
    width: 95%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    border-radius: 20px;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 20vh;

    .best-times-title {
      font-family: $title-font;
      font-size: $font-size-best-time-title;
      margin: 0;
      margin-top: 2.5vh;
      margin-bottom: 0.5vh;
      color: $quick-silver;
    }

    .clock-icon {
      margin: 0;
      padding: 0;
      color: $quick-silver;
    }

    .times-title {
      font-size: $font-size-medium;
      text-transform: uppercase;
      color: $quick-silver;
      margin: 0;
    }

    .arrival-time {
      font-family: $title-font;
      font-size: $font-size-suggested-time-big;
      font-weight: 700;
      text-transform: uppercase;
      color: $light-weight;
      padding: 0;
      margin: 0;
      margin-top: -1.5vh;
      text-shadow: $text-shadow-title;
    }

    .average-time {
      font-family: $title-font;
      font-size: $font-size-average-time;
      padding: 0;
      margin-top: -2vh;
      margin-bottom: -2vh;
    }
  }

  .title-col {
    display: inline-block;
    margin-left: 1.5vh;
    margin-top: 1.5vh;

    .my-card-summary-title {
      display: block;
      font-family: $title-font;
      font-weight: 700;
      font-size: $font-size-title-place;
      padding: 0;
      margin-bottom: 0;
    }

    .my-card-hood-name {
      display: block;
      font-family: $title-font;
      font-size: $font-size-hood-large;
      padding: 0;
      margin-top: 0.1vh;
    }

    .yelp-icon {
      color: #d32322;
    }

    a {
      text-decoration: none;
      text-transform: none;
    }
  }

  .info-col {
    display: inline-block;
    margin-left: 1.5vh;
    margin-top: 1.5vh;

    .info-p {
      color: $light-weight;
      font-family: $title-font;
      font-weight: 700;
      line-height: 1.2;
      font-size: $font-size-place-info;
    }

    .icon-carousel {
      color: $quick-silver;
      margin-right: 0.5vh;
    }

    .card-address {
      padding-left: 1.5em;
      text-indent: -1.5em;
    }

    .card-price {
      margin-top: 0.5vh;
    }
  }

  .stats-icon-small {
    color: $accent-grey;
  }

  .hotspot-col {
    display: inline-block;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    margin-top: 1.5vh;
    text-align: right;

    .hotspot-score-title {
      font-size: $font-size-hotspot-score-title;
      font-family: $title-font;
      padding: 0;
      margin: 0;
      margin-bottom: -1.5vh;
      font-weight: 700;
    }

    .hotspot-score-number {
      font-size: $font-size-hotspot-score;
      font-family: $title-font;
      font-weight: 700;
      padding: 0;
      margin: 0;
      line-height: 1.3;
    }
  }
}
