nav {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  border-bottom: $very-light-grey solid 1px;
  background: $background-gradient-blue-dark;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .logo-box {
    display: inline-block;
    width: 25%;
    margin: 0.1vh auto;
    text-align: center;
  }

  .logo {
    padding: 8px 0;
    width: 70%;
  }
}
