.navigation-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background-color: #263136 !important;
  &.MuiBottomNavigation-root{
    height:10vh;
  }
}

.MuiBottomNavigationAction-label.MuiBottomNavigationAction-iconOnly {
  color: #FEFFFF !important;
  opacity: 1 !important;
}